.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  border-color: white;
  border-style: solid;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  .box {
    font-size: 22px;
  }
}

.box:hover {
  background: rgba(255, 255, 255, 0.12);
  transform: scale(1.04);
  cursor: pointer;
}
