.item {
  padding: 12px 16px;
  color: rgb(248, 247, 247);
  text-decoration: none;
  transition: background-color 0.2s ease;
  border-radius: 10px;
  background-color: rgb(157, 155, 155);
}

.item:hover {
  background-color: #cdcbcb;
}

.active {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 4px;
}
